body {
    color: rgb(170, 22, 193);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(105, 113, 124);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}